@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-carousel .slick-dots {
    margin-right: 0 !important;
    margin-left: 0% !important;
    padding-left: 0;
}

.container {
    width: 90%;
    margin: auto
}